@font-face {
    font-family: 'Anaheim';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anaheim-v8-latin-regular.woff2') format('woff2'),
        url('../fonts/anaheim-v8-latin-regular.woff') format('woff');
}