.footer {
    height: 60px;
    display: flex;
    font-size: 10px;
    line-height: 2;
    color: #e3B949;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #272727;
    font-family: Roboto, Helvetica, sans-serif;
}