table {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-collapse: collapse;
    font-family: "Anaheim", "Arial", sans-serif;
    
.caption {
    display: none;
}

    & thead,
    tfoot {
        font-weight: bold;
        text-transform: uppercase;
        background-color: #e3b949;
    }
    
    & .thead__th {
            height: 50px;
            width: 200px;
            border: 1.5px solid rgba(0, 0, 0, 0.3);
        }
    
    .table__body {
        & .tbody__td {
            height: 50px;
            color: #ffffff;
            background-color: #272727;
            border: 1.5px solid rgba(0, 0, 0, 0.3);
        }
    
    }
    
    .table__footer {
        & .tfooter__tr {
            height: 50px;
        }
    }
}
